<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ .Site.Title }}</title>
<meta name="theme-color" content="#2C2E2F" />
<meta name="keywords" content="{{ .Site.Params.keywords }}">
<meta name="description" content="{{ .Site.Params.Description }}">
<!-- Open Graph 元数据，用于社交媒体分享 -->
<meta property="og:type" content="article">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="">
<!-- 网站图标和应用图标 -->
<link rel="shortcut icon" href="./images/tlslogo1.jpg">
<link rel="apple-touch-icon" href="./images/tlslogo1.jpg">
<!-- CSS 样式文件引入 -->
<link rel='stylesheet' id='font-awesome-css'  href='./css/font-awesome.min.css?ver=6.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='./css/bootstrap.css?ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='nav-css'  href='./css/nav.css?ver=2.0.0' type='text/css' media='all' />
<!-- 添加标签式菜单CSS -->
<link rel='stylesheet' id='tabs-css'  href='./css/tabs.css?ver=1.0.0' type='text/css' media='all' />
<!-- jQuery 库引入 -->
<script type='text/javascript' src='./js/jquery-1.11.1.min.js'></script>
</head>
<!-- 根据暗黑模式设置添加不同的body类 -->
<body class="page-body {{ if .Site.Params.darkmode.enable }}black{{ else }}white{{ end }}">
    <div class="page-container">
        <!-- 侧边栏菜单 -->
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- 网站logo -->
                    <div class="logo">
                        <a href="./" class="logo-expanded" >
                            <img src="./images/tlslogo1.jpg" height="40" alt="" />
                            &nbsp&nbsp{{ .Site.Title }}
                        </a>
                        <a href="./" class="logo-collapsed">
                            <img src="./images/tlslogo1.jpg" height="40" alt="">
                        </a>
                    </div>
                    <!-- 移动端菜单切换按钮 -->
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <!-- 主菜单列表 -->
                <ul id="main-menu" class="main-menu">
                    {{ range .Site.Data.webstack }}
                    <li {{ if .list }}class="has-sub"{{ end }}>
                        <a href="#{{ md5 .taxonomy }}" class="smooth" {{ if .list }}data-list='{{ jsonify .list }}'{{ end }}>
                           <i class="fa {{ .icon }} fa-fw"></i>
                           <span class="title">{{ .taxonomy }}</span>
                        </a>
                        {{ if .list }}
                        <ul class="sub-menu">
                            {{ $taxonomy := .taxonomy }}
                            {{ range .list }}
                            <li>
                                <a href="#{{ md5 (print $taxonomy "-" .term) }}" class="smooth" data-taxonomy="{{ $taxonomy }}" data-term="{{ .term }}">{{ .term }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>                 
                    {{ end }}
                </ul>
                

            </div>
        </div>
        <!-- 主内容区域 -->
        <div class="main-content">
<!-- 顶部导航栏 -->
<nav class="navbar user-info-navbar" role="navigation">
    <div class="navbar-content">
        <ul class="user-info-menu left-links list-inline list-unstyled">
            <li class="hidden-xs">
                <a href="#" data-toggle="sidebar" ><i class="fa fa-bars"></i></a>
            </li>

      </ul>
        <!-- GitHub 仓库链接，根据配置显示 -->
        {{ if .Site.Params.Github.enable }}
        <ul class="user-info-menu right-links list-inline list-unstyled">
            <li class="hidden-sm hidden-xs">
                <a href="{{ .Site.Params.Github.url }}" target="_blank" title="Git Repo"><i class="fa fa-code"></i></a>
            </li>
        </ul>
        {{ end }}
    </div>
</nav>
<!-- 搜索模板引入 -->
{{ template "search.html" . }}
<!-- 网站列表展示区域 -->
<div class="sites-list" style="margin-bottom: 8.5rem;">
{{ range .Site.Data.webstack }}
    <!-- {{ .taxonomy }} -->
    <h4 class="text-gray" style="display: inline-block; margin-bottom: 20px;"><i class="fa {{ .icon }}" style="margin-right: 27px;" id="{{ md5 .taxonomy }}"></i>{{ .taxonomy }}</h4>
    
    {{ if .tabs }}
    <!-- 有标签式二级菜单的分类 -->
    <div class="tab-container nav-tab-spacing">
        <!-- 标签菜单 -->
        <div class="tab-menu">
            {{ $taxonomyName := .taxonomy }}
            {{ range $index, $tab := .tabs }}
            <div class="tab-item {{ if eq $index 0 }}active{{ end }}" data-tab="{{ $index }}" data-taxonomy="{{ $taxonomyName }}" data-term="{{ $tab.name }}">{{ $tab.name }}</div>
            {{ end }}
        </div>
        
        <!-- 标签内容 -->
        {{ range $index, $tab := .tabs }}
        <div class="tab-content {{ if eq $index 0 }}active{{ end }}" data-tab="{{ $index }}">
            <div class="row">
            {{ range $tab.links }}
                {{ if .qrcode }}
                <!-- 带二维码的网站卡片 -->
                <div class="xe-card col-xs-6 col-sm-4 col-md-3 qrcode geticon">
                    <a href="{{ .url }}" target="_blank" class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<img src='{{ .qrcode }}' width='128'>">
                        <div class="xe-comment-entry">
                            <div class="xe-user-img">
                                <img class="img-circle lazy" src="./images/favicon.png" data-src="{{ .logo }}" onerror="javascript:this.src='./images/favicon.png'" width="40">
                            </div>
                            <div class="xe-comment">
                                <div class="xe-user-name overflowClip_1">
                                    <strong>{{ .title }}</strong>
                                </div>
                                <p class="overflowClip_2">{{ .description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{ else }}
                <!-- 普通网站卡片 -->
                <div class="xe-card col-xs-6 col-sm-4 col-md-3 geticon">
                    <a href="{{ .url }}" target="_blank" class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" 
                    title="{{ .description }} {{ .url }}">
                        <div class="xe-comment-entry">
                            <div class="xe-user-img">
                                <img class="img-circle lazy" src="./images/favicon.png" data-src="{{ .logo }}" onerror="javascript:this.src='./images/favicon.png'" width="40">
                            </div>
                            <div class="xe-comment">
                                <div class="xe-user-name overflowClip_1">
                                    <strong>{{ .title }}</strong>
                                </div>
                                <p class="overflowClip_2">{{ .description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    {{ else }}
    <!-- 无标签式二级菜单的普通分类 -->
    <div class="row">
    {{ range .links }}
        {{ if .qrcode }}
        <!-- 带二维码的网站卡片 -->
        <div class="xe-card col-xs-6 col-sm-4 col-md-3 qrcode geticon">
            <a href="{{ .url }}" target="_blank" class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<img src='{{ .qrcode }}' width='128'>">
                <div class="xe-comment-entry">
                    <div class="xe-user-img">
                        <img class="img-circle lazy" src="./images/favicon.png" data-src="{{ .logo }}" onerror="javascript:this.src='./images/favicon.png'" width="40">
                    </div>
                    <div class="xe-comment">
                        <div class="xe-user-name overflowClip_1">
                            <strong>{{ .title }}</strong>
                        </div>
                        <p class="overflowClip_2">{{ .description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {{ else }}
        <!-- 普通网站卡片 -->
        <div class="xe-card col-xs-6 col-sm-4 col-md-3 geticon">
            <a href="{{ .url }}" target="_blank" class="xe-widget xe-conversations box2 label-info" data-toggle="tooltip" data-placement="bottom" 
            title="{{ .description }} {{ .url }}">
                <div class="xe-comment-entry">
                    <div class="xe-user-img">
                        <img class="img-circle lazy" src="./images/favicon.png" data-src="{{ .logo }}" onerror="javascript:this.src='./images/favicon.png'" width="40">
                    </div>
                    <div class="xe-comment">
                        <div class="xe-user-name overflowClip_1">
                            <strong>{{ .title }}</strong>
                        </div>
                        <p class="overflowClip_2">{{ .description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {{ end }}
    {{ end }}
    </div>
    {{ end }}
    
    <!-- 友情链接 -->
    {{ if .friend }}
    <div class="friendlink" style="margin-bottom:-40px">
        <div class="panel">
        {{ range .friend }}            
            <!-- <h4 class="text-gray mb-4"> -->
            <!-- <i class="fa fa-bookmark" id="friendlink" style="margin-right:10px"></i>友情链接</h4> -->                
            <a href="{{ .url }}" rel="noopener" title="{{ .description }}" target="_blank">{{ .title }}</a>
        {{ end }}
        </div> 
    </div>
    {{ end }}
    <!-- END 友情链接    -->
    <br />
    <!--END {{ .taxonomy }} -->
{{ end }}
</div>
            <!-- 页脚 -->
            <footer class="main-footer sticky footer-type-1">
                <!-- 页脚按钮组 -->
                <div class="foot-button">
                    <a href="#" rel="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a href="javascript:" id="search-btn">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="javascript:" class="bright-dark" title="日/夜">
                        <i class="fa {{ if .Site.Params.darkmode.enable }}fa-sun{{ else }}fa-moon{{ end }}"></i>
                    </a>                  
                </div>
                <div class="footer-inner">
                    <!-- 版权信息 -->
                    <div class="footer-text">
                        Copyright © {{ now.Format "2006"}} <a href=""><strong>{{ if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}author{{ end }}</strong>&nbsp;&nbsp;</a>              
                    </div>
                    <!-- 主题信息 -->
                    <div class="footer-text">                       
                        Design by <a href="https://github.com/TLS-802/TLS-Toolbox" target="_blank" style="color: rgb(13, 109, 252); font-weight: bold;">Webstack</a>&nbsp;&middot;&nbsp;Themes by <a href="https://github.com/TLS-802/TLS-Toolbox" target="_blank" style="color: rgb(13, 109, 252); font-weight: bold;">hugo-webstack</a>
                    </div>
                    <!-- 访问统计 -->
                    <div class="footer-text">
                        <span id="busuanzi_container_page_pv"  style="font-size:11px"> &nbsp;&nbsp; <i class="fa far fa-eye"></i> <span id="busuanzi_value_page_pv" style="color: rgb(13, 109, 252); font-weight: bold;"></span></span>                   
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- 搜索框覆盖层 -->
    <div id="overlay" style="display:none">  
    <div id="search-box" >
        <a href="javascript:" id="close-button" title="点击周围任意地方也可以关闭。"><i class="fa far  fa-circle-xmark" ></i></a>
        <form onsubmit="return false;">
            <input type="text" id="search-input" placeholder="输入关键词{{ if .Site.Params.pinyin.enable }}、拼音或拼音首字母{{ end }}" autocomplete="off">
            <i class="search-icon fa fa-search" aria-hidden="true"></i> 
        </form>
        <ul id="search-results">
            <span> 搜索本页内容</span>
        </ul>
        <p style="font-size:11px">键盘：Ctrl+F 开关，<strong>↑</strong> 和 <strong>↓</strong> 选择，Enter 访问</p>
    </div>
    <script>var rootPath = './'</script>
    </div id="overlay"> 
<script type="text/javascript">
    $(document).ready(function() {
        // 页面加载完成后的初始化
        // 黑暗和明亮模式切换功能
        $('footer.main-footer .foot-button .bright-dark').click(function(){   
            var currentIcon = $(this).find('i').attr('class'); 
            if (currentIcon.includes('fa-moon')) {
                $(this).find('i').removeClass('fa-moon').addClass('fa-sun');
                $('body').removeClass('white').addClass('black');
            }else if (currentIcon.includes('fa-sun')) { 
                    $(this).find('i').removeClass('fa-sun').addClass('fa-moon');
                    $('body').removeClass('black').addClass('white');
            }        
        });
        // 黑暗和明亮模式 END
        
        // 利用iowen API 获取网址icon
        $(".geticon").each(function(){
            var url = $(this).find('a').attr('href');
            var apiUrl="https://api.iowen.cn/favicon/"+url.replace(/^https?:\/\//, '').replace(/\/.*$/, '')+".png"
            if ($(this).find('img').attr('data-src').length === 0) {
                $(this).find('img').attr('data-src', apiUrl);
            }
        })
        // END 利用iowen API 获取网址icon
    });
</script>
<!-- 底部脚本 -->
<script>
    // 处理URL参数中指定的标签页
    $(document).ready(function() {
        // 等待一段时间确保所有DOM元素都已加载完成
        setTimeout(function() {
            // 获取URL参数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return decodeURIComponent(r[2]); return null;
            }
            
            // 获取taxonomy和term参数
            var taxonomy = getUrlParam('taxonomy');
            var term = getUrlParam('term');
            
            if (taxonomy && term) {
                // 找到对应的taxonomy区域
                var taxonomyId = "#" + $.simpleHash(taxonomy);
                var $taxonomySection = $(taxonomyId);
                
                if ($taxonomySection.length) {
                    // 滚动到分类区域
                    $('html, body').animate({
                        scrollTop: $taxonomySection.offset().top - 80
                    }, 500, function() {
                        // 滚动完成后查找对应标签
                        var $tabContainer = $taxonomySection.closest('h4').next('.tab-container');
                        
                        // 如果没找到，可能在下一个元素
                        if ($tabContainer.length === 0) {
                            $tabContainer = $taxonomySection.closest('h4').nextAll('.tab-container').first();
                        }
                        
                        if ($tabContainer.length > 0) {
                            // 尝试激活标签
                            if (window.activateTabByName) {
                                window.activateTabByName($tabContainer, term);
                            }
                        }
                    });
                    
                    // 同时在侧边栏中找到并展开对应菜单
                    $('.main-menu > li > a').each(function() {
                        var menuText = $(this).find('.title').text().trim();
                        if (menuText === taxonomy) {
                            var $menuItem = $(this);
                            var $li = $menuItem.parent();
                            
                            // 如果是带有子菜单的项，展开它
                            if ($li.hasClass('has-sub')) {
                                $li.addClass('expanded');
                                
                                // 查找并激活匹配的子菜单项
                                $li.find('ul.sub-menu > li > a').each(function() {
                                    var subText = $(this).text().trim();
                                    if (subText === term) {
                                        $(this).parent('li').addClass('active');
                                    }
                                });
                            }
                        }
                    });
                }
            }
            
            // 初始化侧边栏状态 - 展开已激活的菜单项
            $('.main-menu > li.active').parents('li.has-sub').addClass('expanded');
        }, 300);
    });
</script>
<!-- 页面底部JavaScript引入 -->
<script src="./js/bootstrap.min.js?ver=3.4.1"></script>
<script src="./js/TweenMax.min.js"></script>
<script src="./js/resizeable.js"></script>
<script src="./js/joinable.js"></script>
<script src="./js/xenon-api.js"></script>
<script src="./js/xenon-toggles.js"></script>
<!-- 自定义脚本 -->
<script src="./js/nav.js"></script>
<script src="./js/tabs.js"></script>
<script src="./js/local-search.js"></script>
<!-- 初始化脚本 -->
<script>
    // 页面加载完成后初始化
    $(document).ready(function() {
        // 初始化标签页管理器
        if (typeof TabManager !== 'undefined') {
            TabManager.init();
        }
        
        // 初始化工具提示
        $('[data-toggle="tooltip"]').tooltip();
        
        // 初始化延迟加载
        $("img.lazy").lazyload({
            effect: "fadeIn",
            threshold: 200
        });
    });
</script>
{{ if .Site.Params.pinyin.enable }}
<script type='text/javascript' src='./js/pinyin-pro-3.19.0.min.js'></script>
{{ end }}
</body>
</html>